<%- include('partials/head.ejs') %>

<section class="logs">

    <div class="container mt-5">
        <div class="d-flex flex-column justify-content-center align-items-start">
    
            <% if (hasFiles == true) { %>
                
                <div class="row">
                    <% files.forEach(function(file){ %>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <a href="<%= `${file.link}` %>" class="list-group-item list-group-item-action my-2" aria-current="true">
                                        <%= file.filename %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
    
            <% } else { %>
    
                <p>
                    There aren't files.
                </p>
    
            <% } %>
    
        </div>
    </div>

</section>

<%- include('partials/footer.ejs') %>