<%- include('partials/head.ejs') %>

    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="search-input">
                    <input type="text" id="myInput" class="form-control"
                           onkeyup="searchOnTable()" placeholder="Search file...">
                </div>
            </div>
            <div class="card-body">

                <% if (hasFiles==true) { %>

                <div class="table-responsive">
                    <table class="table " id="myTable">
                        <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th>
                                Filename
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Create
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% files.forEach(function(file){ %>
                        <tr>
                            <td>
                                <b>
                                    <%= file.name %>
                                </b>
                            </td>
                            <td>
                                <%= file.path %>
                            </td>
                            <td>
                                <i class="fa-solid fa-clock mr-1"></i>
                                <%= file.ctime %>
                            </td>
                            <td>
                                <a class="filename" href="<%= `${file.link}` %>">
                                    View content
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>

                <% } else { %>

                <div class="alert alert-warning">
                    <p class="mb-0">
                        Not found any file.
                    </p>
                </div>

                <% } %>

            </div>
        </div>

    </div>

<%- include('partials/footer.ejs') %>