<%- include('partials/head.ejs') %>

    <div class="comeback-index mb-3">
        <a class="btn btn-outline-primary" href="<%= basePath %>">
            <i class="fa-solid fa-arrow-left-long"></i> go to files
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="search-input">
                <input type="text" id="myInput" class="form-control" onkeyup="searchOnTable()"
                       placeholder="Search on the file content" aria-label="Search the file content"
                       aria-describedby="file-content">
            </div>
        </div>
        <div class="card-body">

            <div id="file-content">
                <%= file %>
            </div>

            <div class="table-responsive">
                <table class="table" id="myTable">
                    <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th>
                                File content
                            </th>
                        </tr>
                    </thead>
                    <tbody id="parsed-file"></tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
        const string = document.getElementById('file-content').textContent;
        const lines = string.split("\n");

        for (const line of lines) {

            if (line !== "") {
                const tr = document.createElement("tr");
                tr.innerHTML = `<td>${line.trim()}</td>`;
                document.getElementById('parsed-file').appendChild(tr);
            }

            document.getElementById('file-content').style.display = 'none';

        }
    </script>

    <%- include('partials/footer.ejs') %>