<%- include('partials/head.ejs') %>

    <section class="content">
        <div class="container-fluid mt-5">

            <div class="search-input mb-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <a href="<%= basePath %>">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                    </span>
                    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()"
                        placeholder="Filter file content..." aria-label="Filter file content..."
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div id="file-content">
                <%= file %>
            </div>

            <table id="myTable">
                <tbody id="parsed-file"></tbody>
            </table>
        </div>
    </section>

    <script>
        const string = document.getElementById('file-content').textContent;
        const lines = string.split("\n");

        for (const line of lines) {

            if (line !== "") {
                const tr = document.createElement("tr");
                tr.innerHTML = `<td>${line.trim()}</td>`;
                document.getElementById('parsed-file').appendChild(tr);
            }

            document.getElementById('file-content').style.display = 'none';

        }
    </script>

    <%- include('partials/footer.ejs') %>